# Database
DATABASE_URL="your_mongodb_url_here"

# News API
GUARDIAN_API_KEY="your_guardian_api_key_here"

# Google AI (Gemini)
GOOGLE_AI_KEY="your_google_ai_key_here"

# Cron Jobs
CRON_SECRET="your_cron_secret_here" 